@font-face {
  font-family: 'Proba Pro Regular';
  src: url('../fonts/ProbaPro-Regular.eot');
  src: url('../fonts/ProbaPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProbaPro-Regular.woff') format('woff'),
  url('../fonts/ProbaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }


body, html {

  background-color: white; 
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body canvas {
  height: 110vh !important;
}

.vs_logo {
  width: 250px;
  height: 80px;
}
@media(max-width: 500px) {
  .vs_logo {
    padding-top: 10px;
    width: 210px;
    height: 50px;

  }
}

.artist_name {
  display: flex;
  justify-content: center;
  font-family: 'Proba Pro Regular';
  /* font-family: sans-serif; */
  letter-spacing: 1.1em;
  color: white;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  text-align: center;
  z-index: 1;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 120px; 
  align-items: center;
}

.bottom_link {
  display: flex;
  justify-content: center;
  font-family: 'Proba Pro Regular';
  /* font-family: sans-serif; */
  letter-spacing: 1.1em;
  color: white;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  text-align: center;
  z-index: 1;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 120px; 
  align-items: center;
}

@media(max-width: 770px) {
  .artist_name {
    top: 100px;

  }
}
@media(max-width: 500px) {
  .artist_name {
    top: 100px;
    font-size: 20px;
  }
}

.link-title {
  color: #FFF;
  width: 60%;
  font-size: 1.3rem;
  padding-top: 15vh;
  line-height: 50px;
}

.link {
  color: #FFF;

}
.link:hover {
  color: #00F
}

.buttonBack {
  position: absolute;
  top: 50px;
  left: 40px;
  z-index:10;
  font-size: 30px;
  cursor: pointer;
  color: white !important;
}

.site_link {
  font-family: 'Proba Pro Regular';
  /* font-family: sans-serif; */
  letter-spacing: 1.1em;
  color: white;
  position: absolute;
  width: 100%;
  top: 60px;
  text-align: center;
  z-index: 1;
  /* font-style: normal; */
  font-weight: 200;
  font-size: 30px;
  line-height: 120px; 

}

@media(max-width: 770px) {
  .site_link {
    top: 100px;

  }
}
@media(max-width: 500px) {
  .site_link {
    top: 100px;
    font-size: 20px;
  }
}

body::-webkit-scrollbar {
  width: 0px;
  background-color: grey;
  opacity: 0;
}

body::-webkit-scrollbar-thumb {
  background: black;
  -webkit-border-radius: 0;
  border-radius: 0
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
  z-index: 0;
}

